<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

<p>add-task works!</p>

<div>
    <form [formGroup]="form">

        <select>
            <option>Select the status:</option>
            <option *ngFor="let item of status">{{ item }}</option>
        </select>
        <div>
            <label>Client Name:</label>
            <input type="text">
        </div>
        <div>
            <button (click)="onAdd()"> Add </button>
        </div>
        <div *ngIf="submitted ">
            <div formArrayName="addStatusForm">
                <div *ngFor="let item of form.get('addStatusForm')['controls']; let i = index">
                    <div [formGroupName]="i">
                        <div>
                            <label>Client Name:</label>
                            <input type="text" formControlName="clientName">
                        </div>
                        <label>Status:</label>
                        <div>
                            <input type="text" formControlName="status">
                        </div>
                        <input type="button" formControlName="Available" value="Available">
                        <input type="button" formControlName="NotAvailable" value="Not Available">
                        <input type="button" formControlName="meeting" value="Meeting">
                        <!-- <button formControlName="Available">Available</button>
                        <button formControlName="NotAvailable">Not Available</button>
                        <button formControlName="meeting">In Meeting</button> -->
                        <i
                        class="fas fa-minus-square"
                        style="margin-left: 10px"
                        (click)="removeItem(i)"
                        ></i>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>