<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

<p>add-task works!</p>

<div>
    <form [formGroup]="form">
        <div class="card">
            <select [(ngModel)]="selectedOption" formControlName="select_status">
                <option>Select the status:</option>
                <option *ngFor="let item of status">{{ item }}</option>
            </select>
            <div>
                <label>Client Name:</label>
                <input type="text" [(ngModel)]="clientName_value" formControlName="client_name">
            </div>
            <div>
                <button (click)="onAdd(i)"> Add </button>
            </div>
        </div>
        <div *ngIf="submitted " style="border: 2px solid;margin: 10px;">
            <div formArrayName="addStatusForm">
                <div *ngFor="let item of form.get('addStatusForm')['controls']; let i = index" style="border: 1px solid;">
                    <div [formGroupName]="i">
                        <div>
                            <label>Client Name:</label>
                            <input type="text" formControlName="clientName">
                        </div>
                        <label>Status:</label>
                        <div>
                            <input type="text" formControlName="status" [(ngModel)]="statusValue">
                        </div>
                        <button type="button" (click)="onAvailable(i)"> Available </button>
                        <button type="button" (click)="onNotAvailable()">Not Available</button>
                        <button type="button" (click)="onInMeeting()">In Meeting</button> 
                        <i
                        class="fas fa-minus-square"
                        style="margin-left: 10px"
                        (click)="removeItem(i)"
                        ></i>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>