<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

<div class="jumbotron">
    <h3 class="heading" style="margin-left: 50px;"> Manage Status</h3>
</div>
<div>
    <form [formGroup]="form">
        <div class="card" style="border: 1px solid;">
            <div class="dropdown">
                <label>Select Status:-</label>
                <select [(ngModel)]="selectedOption" formControlName="select_status" >
                    <option>Select the status:</option>
                    <option *ngFor="let item of status1">{{ item.value }}</option>
                </select>
            </div>
            <div class="clientname">
                <label>Client Name:</label>
                <input type="text" [(ngModel)]="clientName_value" formControlName="client_name" >
            </div>
            <div class="addBtn">
                <button class="btn btn-success" (click)="onAdd()"> {{buttonName}} </button>&nbsp;
                <button class="btn btn-danger" (click)="Delete()" [disabled]="formArray.length == 0"> Delete </button>&nbsp;
                <button class="btn btn-primary" (click)="Search(clientName_value)"> Search </button>

            </div>
        </div>
        

        <div class="row">
            <div *ngIf="submitted" style="border: 2px solid;margin: 10px;">
                <div *ngFor="let item of formArray; let i_ = index" style="margin: 20px;">
                    <div [style.visibility]="(searchData == true) ? 'hidden' : 'visible'">
                        <div>
                            <div>
                                <label> Client Name:- </label>
                                <label [ngStyle]="{'background-color':item.color}"> {{ item.client_name }}</label>
                                <button class="btn btn-secondary" style="margin-left:70%" (click)="updateData(i_)"> Edit </button>
                                <button class="btn btn-secondary" style="margin-left:5px" (click)="deleteData(i_)"> Delete </button>
                            </div>
                            <div>
                                <label> Status:-  </label>
                                <label [ngStyle]="{'background-color':item.color}"> {{ item.select_status }}</label>
                            </div>
                                
                        </div>
                        <hr class="dashed">        
                            <div style="margin-right: 10px;" [style.visibility]="(searchData == true) ? 'hidden' : 'visible'">
                                <ng-container *ngFor="let btnval of buttonValue; let i = index">
                                    <button  class="btn btn-primary" type="button" (click)="onStatusBtnClick(i_,i)"> {{ btnval.value }}</button>
                                </ng-container>
                            </div>
                        <hr class="rounded">
                    </div>
                </div>
                <div [style.visibility]="(searchData == false) ? 'hidden' : 'visible'">
                    <p>Searched Results</p>
                    <div *ngFor="let item1 of filterData; let _i = index">
                        <div>
                            <div >
                                <label> Client Name:- </label>
                                <label [ngStyle]="{'background-color':item1.color}"> {{ item1.client_name }}</label>
                                <button class="btn btn-secondary" style="margin-left:70%" (click)="updateData(_i)"> Edit </button>
                                <button class="btn btn-secondary" style="margin-left:5px" (click)="deleteData(_i)"> Delete </button>
                            </div>
                            <div>
                                <label> Status:-  </label>
                                <label [ngStyle]="{'background-color':item1.color}"> {{ item1.select_status }}</label>
                            </div>
                        </div>
                        <hr class="dashed">
                        <div style="margin-right: 10px;">
                            <ng-container *ngFor="let btnval of buttonValue; let i = index">
                                <button  class="btn btn-primary" type="button" (click)="onStatusBtnClick(_i,i)"> {{ btnval.value }}</button>
                            </ng-container>
                        </div>
                        <hr class="rounded">
                    </div>
                </div>
            </div>
        </div>
    </form>    
</div>