<div class="row">
    <!-- <button (click)="disp()"> Display </button> -->
    <div *ngIf="submitted" style="border: 2px solid;margin: 10px;">
        <div *ngFor="let item of da; let i_ = index" style="margin: 20px;">
            <div *ngIf="item.status == true">
                <div>
                    <div>
                        <label> Client Name:- </label>
                        <label> {{ item.client_name }}</label>
                        <button class="btn btn-secondary" style="margin-left:70%" (click)="update_Data(i_)"> Edit </button>
                        <button class="btn btn-secondary" style="margin-left:5px" (click)="deleteData(i_)"> Delete </button>
                    </div>
                    <div>
                        <label> Status:-  </label>
                        <label [ngStyle]="{'color': item.color}"> {{ item.select_status }}</label>
                    </div>
                        
                </div>
                <hr class="dashed">        
                    <div style="margin-right: 10px;">
                        <ng-container *ngFor="let btnval of buttonValue; let i = index">
                            <button style="color: black;" [ngStyle]="{'background-color': btnval.color}" class="btn btn-primary" type="button" (click)="onStatusBtnClick(i_,i)"> {{ btnval.value }}
                                
                            </button>
                        </ng-container>
                    </div>
                <hr class="rounded">
            </div>
        </div>
    </div>
</div>