<div class="row">
    <h3> Data:- </h3>
    <div *ngIf="submitted" style="border: 2px solid;margin: 10px;">
        <div *ngFor="let item of mainArrayData; let i_ = index" style="margin: 20px;">
            <div *ngIf="mode == 'Search' ? item.status == true : item.status == false ">
                <div>
                    <div>  
                        <label> Client Name:- </label>
                        <label> {{ item.client_name }}</label>
                        <button class="btn btn-secondary" style="margin-left:70%" (click)="update_Data(item.id)"> Edit </button>
                        <button class="btn btn-secondary" style="margin-left:5px" (click)="deleteData(item.id)"> Delete </button>
                    </div>
                    <div>
                        <label> Status:-  </label>
                        <label [ngStyle]="{'color': item.color}"> {{ item.select_status }}</label>
                    </div>
                        
                </div>
                <hr class="dashed">        
                    <div style="margin-right: 10px;">
                        <ng-container *ngFor="let btnval of statusArray; let i = index">
                            <button style="color: black; margin-right: 5px;" [ngStyle]="{'background-color': btnval.color}" class="btn btn-primary" type="button" (click)="onStatusBtnClick(item.id,btnval.id)"> {{ btnval.value }}
                                
                            </button>
                        </ng-container>
                    </div>
                <hr class="rounded">
            </div>
        </div>
    </div>
</div>